<br><br>
<div class="titulo">
  <h1>Sobre Nosotros</h1>
  <img src="../../../assets/img/logoSMH.png">
</div>

<div class="contenedor">
  <div class="text1">Vivimos en un momento histórico marcado por los movimientos migratorios, en la mayoría de los
    casos desplazamientos forzados, generados por la pobreza derivada del modelo de “desarrollo” actual, el cambio
    climático y las violencias en los países de origen. La historia que os vamos a contar es la historia de una
    organización humanitaria, fundada por personas particulares con una inquietud común: salvar vidas.
    <br><br>
    Somos una organización humanitaria de salvamento y ayuda al desarrollo con sede en Euskadi.
  </div>

  <div class="img1">
    <img src="../../../assets/img/barco-sobre-nosotros1.jpg" />
  </div>

  <div class="img2">
    <img src="../../../assets/img/barco-sobre-nosotros2.jpg" />
  </div>

  <div class="text2">
    <ul>
      <li>Nacimos en 2015 gracias a un grupo de personas comprometidas y determinadas que vienen del mundo
        del rescate.</li>
      <br>
      <li>Nos focalizamos en el rescate marítimo de personas migrantes obligadas a desplazarse en condiciones peligrosas
        que
        tienen la esperanza de llegar a Europa para construirse un futuro mejor.</li>
      <br>
      <li>Trabajamos en el mar Mediterráneo, rescatando barcos en dificultad, y en tierra, proporcionando asistencia
        sanitaria
        a las personas que llegan.</li>
    </ul>
  </div>

  <div class="text3">
    <h2 style="text-align: left;"><strong>Nuestros principios</strong></h2>
    <p>Nuestra filosofía se fundamenta en los siguientes principios:</p>
    <p><br>Principios Humanitarios</p>
    <ul>
      <li>Humanidad</li>
      <li>Imparcialidad</li>
      <li>Neutralidad</li>
      <li>Independencia</li>
      <li>Transparencia</li>
    </ul>
    <p><br>Defensa de los derechos</p>
    <ul>
      <li>Derecho a la VIDA</li>
      <li>Derecho a recibir una asistencia humanitaria</li>
      <li>Derecho a la protección y a la seguridad</li>
      <li>Derecho a recibir el asilo internacional</li>
    </ul>
    <p><br>Conducta en las operaciones</p>
    <ul>
      <li>Humanidad, imparcialidad, neutralidad y transparencia.</li>
      <li>Dignidad a toda persona auxiliada</li>
      <li>Respeto a la legislación internacional</li>
    </ul>
  </div>

  <div class="img3">
    <img src="../../../assets/img/foto-sobre-nosotros1.jpg">
  </div>

  <div class="img4">
    <img src="../../../assets/img/foto-sobre-nosotros2.jpg">
  </div>

  <div class="img5">
    <img src="../../../assets/img/foto-sobre-nosotros3.jpg">
  </div>
  
</div>

