<div class="containerIMG">
  <!-- Imagen de fondo -->
  <img
    src="../../../assets/img/homerescate.jpg"
    alt="Imagen de fondo"
    class="fullscreen-image"
  />

  <div class="overlay-div">
    <h1>
      SALVAMENTO MARÍTIMO HUMANITARIO <br />
      Tu ayuda salva vidas
    </h1>
  </div>
</div>

<div class="infoQuienesSomos">
  <h1>¿Quienes somos?</h1>
  <p>
    Somos una asociación de personal voluntariado que desde 2015 respondemos a
    la situación de vulneración de Derechos Humanos que se vive en el
    Mediterráneo y en el Egeo. Somos un eslabón de la cadena solidaria de esta
    sociedad. Nuestra misión es clara: salvaguardar y cuidar la vida, la
    dignidad y los derechos de las personas en tránsito en las rutas migratorias
    usadas para su desplazamiento. Defender unas vías seguras y legales que
    formen parte de la política migratoria europea. Facilitar la participación y
    la concienciación de la sociedad civil en la defensa de los Derechos
    Humanos. Denunciar el incumplimiento de los Derechos Humanos de los que
    somos testigos. Si puedes, ayúdanos ahora. ¡Muchas gracias!
  </p>
  <a href="../sobre-nosotros/sobre-nosotros.component.html" class="btn1">Conoce más sobre nosotros</a>
</div>
<div class="imgInfo">
  <div class="imgContainer">
    <img src="../../../assets/img/educacion-refugiados.jpg" alt="Rescate 1" />
    <div class="overlay">
      <p class="hoverText">Educación para la transformación social</p>
    </div>
  </div>
  <div class="imgContainer">
    <img src="../../../assets/img/homerescate2.jpg" alt="Rescate 2" />
    <div class="overlay">
      <p class="hoverText">Proyecto Manta (Ecuador)</p>
    </div>
  </div>
  <div class="imgContainer">
    <img src="../../../assets/img/campamento-refugiados.jpg" alt="Rescate 3" />
    <div class="overlay">
      <p class="hoverText">
        Campamento de personas refugiadas en Grecia: <br />
        Miles de personas se encuentran varadas a las puertas de Europa sin
        asistencia mínima básica debido al racismo institucional al que se ven
        sometidas.
      </p>
    </div>
  </div>
  <div class="imgContainer">
    <img src="../../../assets/img/homerescate3.jpg" alt="Rescate 4" />
    <div class="overlay">
      <p class="hoverText">
        Barco de rescate ‘Aita Mari’: <br />
        Cada vida que le arrebatamos a la mayor fosa común del planeta, importa.
        <br />Nadie debería morir en el mar.
      </p>
    </div>
  </div>
</div>

<!-- Como ayudar -->

<div class="secionAyudaContainer">
  <div class="secionAyuda">
    <img src="../../../assets/img/campamento_refugiados.jpg" />
    <div class="text">
      <P
        >Salvamento Marítimo cuenta con un amplio despliegue de medios a lo
        largo de todas las costas españolas, tanto humanos como materiales, que
        incluyen medios marítimos y aéreos, además de los centros desde donde se
        coordinan las operaciones, bases estratégicas de almacenamiento y
        gestión y un centro de formación. <br /><br />
        Estas dotaciones, con los medios más modernos destinados a la seguridad
        marítima, se mantienen y renuevan para mantener en máximos la calidad de
        nuestro servicio gracias a la profesionalidad de nuestras mujeres y
        hombres.</P
      >
    </div>
  </div>

  <div class="secionAyuda">
    <div class="text">
      <P
        >La organización y desarrollo de Salvamento Marítimo parte de la
        planificación de objetivos, tanto anuales como a más largo plazo en los
        que la prevención, la respuesta, la concertación y la innovación han
        sido las metas fijadas. <br /><br />
        Salvamento Marítimo tiene también un firme compromiso con el buen
        gobierno, la ética, la integridad, la seguridad, la transparencia, la
        calidad y el medio ambiente que se reflejan en los valores compartidos
        que se aplican en su actividad diaria.</P
      >
    </div>
    <img src="../../../assets/img/campamento_refugiados2.jpg" />
  </div>

  <div class="secionAyuda">
    <img src="../../../assets/img/comoayudar.jpg" />
    <div class="text">
      <P
        >Salvamento Marítimo da respuesta a todas las emergencias que pueden
        surgir en la mar: rescates, búsquedas, evacuaciones médicas, remolques,
        lucha contra la contaminación, difusión de avisos a la navegación y,
        desde luego, la recepción e inmediata respuesta a las llamadas de
        socorro desde la mar.
        <br />
        Para ejercer esta labor, Salvamento Marítimo coordina desde sus 20
        Centros de Coordinación de Salvamento (19 CCS en la costa y el CNCS en
        Madrid), los medios humanos y materiales propios o pertenecientes a
        otras instituciones y organismos colaboradores nacionales, regionales,
        locales o internacionales.
        <br /><br />
        El personal técnico adscrito a los Centros de Coordinación de Salvamento
        está en alerta permanente las 24 horas del día, durante los 365 del año.
        <br />
        Estos profesionales se encargan de coordinar la respuesta a las
        emergencias marítimas: reciben la información, la evalúan, planifican y
        movilizan los medios.</P
      >
    </div>
  </div>
</div>

<!-- FLIP CARDS -->
<div class="card-container">
  <div class="flip-card" *ngFor="let card of [1, 2, 3, 4]">
    <div class="flip-card-inner">
      <div class="flip-card-front"></div>
      <div class="flip-card-back">
        <p>{{ imagenesCards[card - 1].text }}</p>
      </div>
    </div>
  </div>
</div>



<footer>
  <h1>SMG</h1>
</footer>
