<!-- <div class = "imgHome">
    <div class = "infoHome">
        <h1>TU AYUDA
            ES VITAL</h1>
    </div>
</div> -->

<div class="containerIMG" (window:scroll)="onScroll()">
    <!-- Imagen de fondo -->
    <img src="../../../assets/img/homerescate.jpg" alt="Imagen de fondo" class="fullscreen-image">
    
    <div class="overlay-div" [ngClass]="{'scrolled': isScrolled}">
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quasi inventore, labore officiis enim cum molestiae aperiam vel optio tempora dolorum similique aliquam, deleniti architecto fugiat perspiciatis nisi hic reprehenderit?</h1>
    </div>
</div>

  