@import "../variables";

// .imgHome {
//   background-image: url("../../../assets/img/homerescate.jpg");
//   width: 100%;
//   height: 100%;
//   background-repeat: no-repeat;
//   object-fit: cover;
//   position: absolute;

//   .infoHome {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 30%;
//     background-color: rgba(138, 138, 141, 0.719);
//     margin-left: 100px;
//   }
// }

/* Contenedor que ocupa toda la pantalla */
.containerIMG {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Imagen que ocupa toda la pantalla */
.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3a3e36af;

  display: flex;
  justify-content: center; 
  align-items: center; 

  h1, h4{
    color: rgb(255, 255, 255);
    text-align: center;
  }
}


.info {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*contenedor principal */
.imgInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  margin-left: 10%;
  margin-right: 10%;
}

/*contenedor img */
.imgContainer {
  position: relative; 
  overflow: hidden; 
}

/* Estilo de las imágenes */
.imgContainer img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; 
}

/* Fondo(overlay) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  opacity: 0;
  transition: opacity 0.3s ease; 
}


.hoverText {
  color: white; 
  font-size: 18px; 
  text-align: center;
  padding: 10px;
  font-weight: bold; 
}

.imgContainer:hover img {
  transform: scale(1.1); 
}

.imgContainer:hover .overlay {
  opacity: 1; 
}

/* Estilo general como ayudar*/
.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 500px;
  margin-left: 10%;
}

/* Imagen */
.content-item img {
  height: auto;
  border-radius: 8px; 
  width: 800px;
}

/* Texto */
.content-item .text {
  max-width: 600px;
}


