
.containerIMG {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.fullscreen-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: rgba(58, 62, 54, 0.6862745098);
  transition: all 0.3s ease-in-out;
}

/* Efecto cuando se hace scroll */
.overlay-div.scrolled {
  width: 100%;
  background-color: rgba(58, 62, 54, 0.6862745098);
}



.info {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30%;
}

.imgInfo{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
