<!-- <div class = "imgHome">
    <div class = "infoHome">
        <h1>TU AYUDA
            ES VITAL</h1>
    </div>
</div> -->
<div class="containerIMG">
<!-- <div class="containerIMG" (window:scroll)="onScroll()"> -->
    <!-- Imagen de fondo -->
    <img src="../../../assets/img/homerescate.jpg" alt="Imagen de fondo" class="fullscreen-image">

    <div class="overlay-div" >
    <!-- <div class="overlay-div" [ngClass]="{'scrolled': isScrolled}"> -->
        <h1>SALVAMENTO MARÍTIMO HUMANITARIO <br> Tu ayuda salva vidas </h1>
    </div>
</div>

<div class = "info">
  <h1>¿Quienes somos?</h1>
  <p>Somos una asociación de personal voluntariado que desde 2015 respondemos a la situación de vulneración de Derechos Humanos que se   vive en el Mediterráneo y en el Egeo. Somos un eslabón de la cadena solidaria de esta sociedad.

    Nuestra misión es clara: salvaguardar y cuidar la vida, la dignidad y los derechos de las personas en tránsito en las rutas migratorias usadas para su desplazamiento. Defender unas vías seguras y legales que formen parte de la política migratoria europea. Facilitar la participación y la concienciación de la sociedad civil en la defensa de los Derechos Humanos. Denunciar el incumplimiento de los Derechos Humanos de los que somos testigos.

    Si puedes, ayúdanos ahora. ¡Muchas gracias!</p>
</div>
<div class="imgInfo">
    <div class="imgContainer">
      <img src="../../../assets/img/homerescate.jpg" alt="Rescate 1">
      <div class="overlay">
        <p class="hoverText">Educación para la transformación social</p>
      </div>
    </div>
    <div class="imgContainer">
      <img src="../../../assets/img/homerescate.jpg" alt="Rescate 2">
      <div class="overlay">
        <p class="hoverText">Proyecto Manta (Ecuador)</p>
      </div>
    </div>
    <div class="imgContainer">
      <img src="../../../assets/img/homerescate.jpg" alt="Rescate 3">
      <div class="overlay">
        <p class="hoverText">Campamento de personas refugiadas en Grecia: <br>
            Miles de personas se encuentran varadas a las puertas de Europa sin asistencia mínima básica debido al racismo institucional al que se ven sometidas.
        </p>
      </div>
    </div>
    <div class="imgContainer">
      <img src="../../../assets/img/homerescate.jpg" alt="Rescate 4">
      <div class="overlay">
        <p class="hoverText">Barco de rescate ‘Aita Mari’: <br>
            Cada vida que le arrebatamos a la mayor fosa común del planeta, importa.
            <br>Nadie debería morir en el mar.</p>
      </div>
    </div>
  </div>

  <!-- Como ayudar -->
   <h1>COMO AYUDAR</h1>
  <div class="content-container">
    <div class="content-item">
      <img src="../../../assets/img/homerescate.jpg">
      <div class="text">
        <h3>Voluntariado</h3>
      </div>
    </div>
  
    <div class="content-item reverse">
      <div class="text">
        <h3>Dona</h3>
      </div>
      <img src="../../../assets/img/homerescate.jpg">
    </div>
  
    <div class="content-item">
      <img src="../../../assets/img/homerescate.jpg">
      <div class="text">
        <h3>Hazte socio/a</h3>
      </div>
    </div>
  
  
<footer>
    <h1>SMG</h1>
</footer>

