$imagenesCards: (
    (
    image: '../../../assets/img/comoayudar.jpg',
    text: 'Texto 1'
    ),

    (
    image: '../../../assets/img/comoayudar.jpg',
    text: 'Texto 2'
    ),

    (
    image: './assets/img/comoayudar.jpg',
    text: 'DONA2'
    )
    
);